* {
    font-size: 17px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: rgba(0,0,0,0.4);
    border-radius: 30px;
}

#custom-arch, #workspaces {
    /* background-color: #f487c6; */
    border-radius: 30px;
    background: rgba(200,200,200,0.3);
    color: #00bfe5;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

#custom-arch {
    font-family: "Hack Nerd Font";
    padding-left: 3px;
    padding-right: 6px;
    margin-left: 25px;
}

#workspaces button {
    color: #aaaaaa;
}

#workspaces button.active {
    color: #f487c6;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #custom-power{
    border-radius: 30px;
    background: rgba(200,200,200,0.3);
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
}

#backlight, #bluetooth {
    color: #e0e050;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    margin-right: 0px;
}

#battery {
    color: #e08060;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}

#pulseaudio {
    color: #d080e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0px;
}

#clock {
    margin-right: 0;
}

#network {
    color: #50e090;
}

#custom-power {
    color: #e05050;
    padding-left: 17px;
    padding-right: 18px;
    margin-right: 25px;
}
