* {
    font-size: 16px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: transparent;
}

#custom-hyprland, #custom-wallpaper, #workspaces, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #custom-power{
    border: 2px solid rgba(200,200,255,0.8);
    border-radius: 30px;
    background: rgba(40,50,100,0.8);
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
}

#custom-hyprland:hover, #custom-wallpaper:hover, #workspaces:hover, #clock:hover, #backlight:hover, #pulseaudio:hover, #bluetooth:hover, #network:hover, #battery:hover, #custom-power:hover{
    background: #222222;
}

#custom-hyprland {
    color: #00bfe5;
    font-family: "Symbols Nerd Font";
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 15px;
}

#custom-wallpaper {
    color: #90bfe5;
    padding-left: 15px;
    padding-right: 15px;
}

#workspaces {
    padding-left: 12px;
    padding-right: 12px;
}

#workspaces button {
    color: #aaaaaa;
}

#workspaces button.active {
    color: #f487c6;
}


#backlight {
    color: #e0e050;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    margin-right: 0px;
}

#bluetooth {
    color: #0082fc;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 10px;
    margin-right: 0px;
}

#battery {
    color: #e08060;
    border-left: none;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0px;
}

#pulseaudio {
    color: #d080e0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}

#clock {
    margin-right: 0;
}

#network {
    color: #50e090;
}

#custom-power {
    color: #e05050;
    padding-left: 16px;
    padding-right: 18px;
    margin-right: 15px;
}
